@font-face {
	font-family: 'Vela Sans';
	src: url('/fonts/VelaSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Vela Sans';
	src: url('/fonts/VelaSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Vela Sans';
	src: url('/fonts/VelaSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}
